<mat-card>

    <!-- <a *ngIf="isLoggedIn" class="nav-link" href="/logout" (click)=logout()>Logout</a> -->
    <mat-card-title>Car List</mat-card-title>
    <button mat-flat-button color="primary" (click)="logout()">Logout</button>
    <mat-card-content>
        <div class="container">
        <mat-list>
            <mat-list-item *ngFor="let car of cars">      
            <img class="car-img" src="{{car.unsplashUrl}}" alt="{{car.brand}} - {{ car.model }}">    
                <h3 mat-line>{{ car.brand }} - {{ car.model }}</h3>
                <h3 mat-line>Year: {{ car.year }}</h3>
                <h3 mat-line>Km: {{ car.km }}</h3>
                <h3 mat-line>Fuel: {{ car.fuel }}</h3>
                <a mat-button [routerLink]="['/car-edit', car.id]">Edit</a>
            </mat-list-item>
        </mat-list>
    </div>
    </mat-card-content>
    <button mat-fab color="primary" [routerLink]="['/add-car']">Add</button>
    
</mat-card>
